body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}

// .display_container{
//     margin-top: 5%;
// }
.bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    z-index: 10000;
    opacity: 1;
    transition: .3s;
  }
.c-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
      margin: auto;
      width: 50%;
      height: 30%;
    border-radius: 5px;
    background-color: transparent;
      z-index: 10001;
      opacity: 1;
    transition: .6s;
  }

.display_notes_content{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
}
.display_notes{
background-color: #fff;
border:1px solid #e0e0e0;
width: 240px;
align-self: flex-start;
// overflow-x: hidden;
// text-overflow: ellipsis;
margin: 16px;
border-radius: 8px;
min-height: 120px;
height: auto;
// z-index: 8;
}
.display_title{
padding: 12px 12px 0 12px;
}
.display_description{
padding: 12px;
}
.display_notes_content p{
margin: 0;
}
.toggle_btn_notes{
display: none;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding-bottom: 3%;
color: #b972e7;
}

.toggle_btn_notes button{
outline: none;
border: none;
background-color: transparent;
height: 35px;
width: 35px;
color: #202124;
border-radius: 50%;
}
.toggle_btn_notes button:hover{
background-color: rgba(95,99,104,0.157);
border-radius: 50%;
}
.display_notes:hover {
.toggle_btn_notes{
    display: flex;
}
}

.color_btn{
    position: relative;
}
.dropmenu button{
outline: none;
border: none;
// background-color: transparent;
// top: 50%;
// height: unset;
color: #202124;
border-radius: 50% !important; 
margin: 2px;
}

.dropmenu{
    display: none;
    box-shadow: 1px 2px 2px 0px rgb(65 69 73 / 10%), 1px 3px 3px 1px rgb(65 69 73 / 15%) ;
    padding: 12px;
    border-radius: 2px;
    bottom: 100%;
    right: 5%;
    width: 180px;
    height: 100px;
    background-color: #FFFFFF;
    z-index: 10;
    position: absolute;
}
.more_btn:hover{
    .dropmenu{
        display: flex;
    }
}
.color_btn:hover{
    .dropmenu{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 700px) {
.display_notes{
    width: 80%;
}
}
@media screen and (max-width: 400px) {
    .display_notes{
        width: 80%;
        min-width: 200px;
    }
    .c-modal{
        width: 90%;
    }
    }

@media screen and (max-width: 300px){
    .display_notes{
        min-width: 150px;
        white-space: normal;
    }
}
