@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

}
*{
    box-sizing: border-box;
}


.maincontainer{
    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    // align-items: center;
    width: 100%;
    padding-top: 3%;
    // top: 20rem;
}
.main_left{
    width: 20%;
}
.main_right{
    width: 80%;
    padding: 2% 1%;
}

.side_nav_header{
    margin: 0;   
}
.sidebar{
    // display: flex;
    width: auto;
}

.sidebar_row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    // justify-content: space-evenly;
    // width: 280px;
    // min-height: auto;
    height: calc(100% - 80px);
    position: fixed;
    top: 80px;
}
.sidebar_row_left{
    flex: 1 0 auto;
    color: #202124;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.sidebar_row_right{
    margin-bottom: 1rem;
    padding: 0 3rem;
}

.sidebar_row{
    width: 80px;
}
.sidebar_row_right span{
    display: none;
}

.row_right_text{
    font-size: 0.8rem;
    color: #5f6368;
}
.sidebar_row:hover{
    width: 280px;
    background-color: #FFFFFF;
    box-shadow: 0 16px 10px 0 rgb(0 0 0 / 14%), 0 11px 18px 0 rgb(0 0 0 / 12%), 0 13px 5px -1px rgb(0 0 0 / 20%);;

    .sidebar_row_right span{
        display: unset;
    }
}

.main_right_content{
    display: flex;
    flex-direction: column;
}
.lower_container{
    margin-top: 5%;
}

button:hover{
    background-color: rgba(95,99,104,0.157);
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .lower_container{
        margin-top: 15%;
    }
}

@media screen and (max-width: 400px) {
    .lower_container{
        margin-top: 20%;
    }
}



