@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

}
*{
    box-sizing: border-box;
}



.maincontainer{
    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    // align-items: center;
    width: 100%;
    padding-top: 3%;
    // top: 20rem;
}
.main_left{
    width: 20%;
}
.main_right{
    width: 80%;
    padding: 2% 1%;
}



.main_right_content{
    display: flex;
    flex-direction: column;
}
.lower_container{
    margin-top: 5%;
}

button:hover{
    background-color: rgba(95,99,104,0.157);
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .lower_container{
        margin-top: 15%;
    }
    .maincontainer{
        padding-right: 3%;
    }
}

@media screen and (max-width: 400px) {
    .lower_container{
        margin-top: 20%;
    }
}



