@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0px;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}

html{
    width: 100%;
    margin: 0%;
    padding: 0%;
}

//top navbar
.nav_header{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; 
    height: 64px;
    box-shadow: inset 0 -1px 0 0 #dadce0;   
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 auto;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    color: #5f6368;
    position: fixed;
    z-index: 100;
    background-color: #FFFFFF;
    box-shadow: inset 0 -1px 0 0 #dadce0;   

    
}
.keep_text{
    font-weight: 100;
    font-size: 22px;
}
.section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 auto;
    padding-right: 10%;   
}
.section1_item1{
    padding: 12px;
    margin: 0 3px;
}
.section1_item2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section1_item2 img{
    height: 40px;
    width: 40px;
}
// .section2{
//     width: 70%;
//     height: auto;
// }

// form{
//    background-color:  #f1f3f4;
//    width: 720px;
//    height: 48px;
// }
.section3{
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: flex-start;
    flex: 1 1 100%;
}
.section3_item1{
    flex: 1 1 auto;
}
.section3_item2{
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.section3_item2 svg{
    width: 48px;
}

form{
    max-width: 720px;
    width: 100%;
}
// .dashboard_items{
//     margin-right: 3rem;
// }
.search{
 background-color: #f1f3f4;  
 width: 100%;
 height: 48px;
 border-radius: 8px;
 display: flex;
 align-items: center;
 padding: 8px;
}
.search_btn{
    float: left;
    position: absolute;
    padding: 12px;
}
.search_box{
 margin: 0 48px;
 width: 100%;
}
input[type=search]{
    background-color: #f1f3f4;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;    // min-width: 720px;
}
.section4{
    margin-left: 5%;
}

.section4{
    width: 48px;
}
input[type=search]:focus{
    border: none;
    outline: none;
    background-color: #FFFFFF;    
}
.search:focus-within{
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}


@media screen and (max-width: 600px) {
    .search_box{
        display: none;
    }
    .search{
        background-color: transparent;
    }

    .nav_header svg{
        height: 18px;
        width: 18px;
    }
    .keep_text{
        font-size: 1rem;
    }
    .section1_item2 img{
        height: 30px;
        width: 30px;
    }

}


@media screen and (max-width: 400px) {
    .section3_item2 svg{
        width: 20px;
    }
    .search_btn{
        padding: unset;
    }
    .section1_item2 img{
        height: 30px;
        width: 30px;
    }
    .section1_item1{
        width: unset;
    }

}

