@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.custom-field{
    position: relative;
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
}

// .placeholder {
//   position: absolute; 
//   color: #5f6368;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   padding: 0 1rem;
//   font-size: 0.9rem;
// }
// .custom-field input:focus + .placeholder{
//     top: -20%;
//     left: 1vw;
//     background-color: #FFFFFF;
//     font-size: 0.7rem;
//     color: #1a73e8;
//     padding: 0 0.3rem;
// }
.rows{
    padding: 0;
    // min-width: 40vw;
    width: 400px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #dadce0;
    padding: 3%;
    text-align: left;
    border-radius: 2%;
    margin-top: 10vh;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
}
.row_content_left{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    
}
.row_heading{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5vh;
}
.text_sign{
    text-align: center;
}
.row_heading span{
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.letter1{
    color: rgb(66, 133, 244);
}
.letter2{
    color: rgb(234, 67, 53);
}
.letter3{
    color:rgb(251, 188, 5);
}
.letter4{
    color: rgb(52, 168, 83);
}
.rows .comments_p{
    margin-top: 0%;
    font-size: 0.7rem;
}
.row_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0% 10%;
    margin-bottom: 4vh;
    width: 100%;
}
.row3{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0% 10%;
    margin-bottom: 4vh;
    width: 100%;
}
// .row2{

// }
// .row_item .inputfield{
//     // margin-top: 2vh;
//     border: 1px solid #dadce0;
//     font-size: 1rem;
//     padding: 0.4rem;
//     width: 100%;
// }
.row_item .signinp{
    font-size: 1.5rem;
    padding: 0.8rem;
}
button {
    // flex: 2;
    padding: 10px 20px;
    border: 1px solid #1a73e8;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    background-color:#1a73e8;
    font-size: 0.9rem;
    font-weight: 550;
}
.error{
    color: red;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}
.error p{
  margin-left: 0.8rem;
}
svg{
    color: red;
}
input[type=text]{
    border: 2px solid red;
    border-radius: 4px;
}

// span[placeholder] {
//     color: aquamarine;
//     z-index: 10;
// }
// input[type=text]:focus, input[type=text]:valid + span[placeholder]:before{
//     border-width: thick;

//     border: 0px solid rgb(26, 115, 232) !important;
//     outline-color: rgb(26, 115, 232);
// }
// input[type=text]:valid ~ .placeholder{
//     top: -20px;
    
// }
// .comments_p{
//     display: ; //
// }
.row_bottom{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
}
.row_bottom button{
    float: right;
}
.row_bottom span{
    color: #1a73e8; 
    font-size: 0.9rem;
    font-weight: 550;
}
a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}
.use_email{
  color: #1a73e8; 
  font-size: 0.9rem;
  font-weight: 550;
  margin-top: 2%;
}
.guest_mode p{
  font-size: 0.9rem;
  color: #898989;
  margin: 0;
  padding: 2rem 0;
}
.small_head p{
    font-size: 1rem;
    color: #202124;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    // margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    // border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
  }
  input[type="text"][required]:focus {
    border: 2px solid #1a73e8;
  }
  input[type="text"][required]:focus + label[placeholder]:before {
    color: #1a73e8;
  }
  input[type="text"][required]:focus + label[placeholder]:before,
  input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    transform: translate(0, -1.6em) scale(0.9, 0.9);
    background-color: #FFFFFF;
    padding:0% 2%;
    margin: 0 0;
    font-size: 0.8rem;
  }
  input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  
  input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-2em);
    margin-bottom: calc((0.9em));
  }
  input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
@media screen and (max-width:700px){
    .row1{
        grid-template-columns: repeat(1, 1fr);
        gap: 10%;
    }
}
@media screen and (max-width:500px){
    .rows{
        width: 90%;
        border: none;
        margin-top: 0;
    }
}