@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
}
.register_container{
  margin: 0;
  padding: 0;
}
.row_container{
  display: flex;
  justify-content: space-around;
  // align-items: center;
  width: 748px;
  // width: 50%;
  margin: 0 auto;
  padding: 3%;
  border: 1px solid #dadce0;
  border-radius: 10px;
  margin-top: 10vh;
  text-align: left;
  // min-height: auto;
  height: 100vh;
}

.image_content img{
  width: 244px;
  height: 244px;
}
.row_left{
  padding-right: 5%;
}
.row_right{
  padding-left: 5%;
  margin-top: 20%;
}

.row_heading{
    // width: 90%;
    margin: 0 auto;
}
.row_heading h2{
  margin-bottom: 0%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 590;
}
.row_heading span{
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.letter1{
    color: rgb(66, 133, 244);
}
.letter2{
    color: rgb(234, 67, 53);
}
.letter3{
    color:rgb(251, 188, 5);
}
.letter4{
    color: rgb(52, 168, 83);
}
.row_content_left{
    display: flex;
    flex-direction: column;
    margin: 0 auto;   
}
.row1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: 0% 10%;
    margin-bottom: 4vh;
}
.row2{
  padding-top: 4vh;
}
.row3{
    display: grid;
    grid-template-columns: 1fr;
    // gap: 0% 10%;
    // margin-bottom: 4vh;
    width: 100%;
}
.row_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-margin{
  margin-right: 8px;
}

.placeholder{
  font-size: 0.9rem;
  color: #5f6368;
}
.use_email{
    color: #1a73e8; 
    font-size: 0.9rem;
    font-weight: 550;
}

input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    min-height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    // border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
  }
  input[type="text"][required]:focus {
    border: 2px solid #1a73e8;
  }
  input[type="text"][required]:focus + label[placeholder]:before {
    color: #1a73e8;
  }
  input[type="text"][required]:focus + label[placeholder]:before,
  input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    transform: translate(0, -1.6em) scale(0.9, 0.9);
    background-color: #FFFFFF;
    padding:0% 2%;
    margin: 0 0;
    font-size: 0.8rem;

  }
  input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em);
  }
  input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    // transition: 0.3s ease-in-out;
    // background-image: linear-gradient(to bottom, #fff, #fff);
    // background-size: 100% 5px;
    // background-repeat: no-repeat;
    // background-position: center;
  }

.error{
  // margin-top:2.5vh;
  color: red;
  border-color: red;
  font-size: 0.8em;
}
.error-border{
  color: red;
  border-color: red;
}
svg{
    color: red;
}

.comments_p{
    // margin-top: 0%;
    color: #5f6368;
    font-size: 0.7rem;
    padding-top: 5px;
    margin-left: 10px;
    white-space: normal;
}
.show_password{
  display: flex;
  align-items: center;
  gap: 0 2%;
}
input[type=checkbox]{
  width: 1rem;
  height: 1rem; 
  // outline: 2px solid #000;
}
// #show_password_id:before{
//     content: '';
//     background: #fff;
//     border: 2px solid #5f6368;
//     display: inline-block;
//     vertical-align: middle;
//     width: 1rem;
//     height: 1rem;

//     text-align: center;   
// }
.show_password label{
  font-size: 14px;
  color: #202124;
}

.row_bottom{
    padding-top: 10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.row_bottom button{
    float: right;
}
.row_bottom span{
    color: #1a73e8; 
    font-size: 0.9rem;
    font-weight: 550;
}
a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}
button {
    // flex: 2;
    padding: 10px 20px;
    border: 1px solid #1a73e8;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    background-color:#1a73e8;
    font-size: 0.9rem;
} 

.row_item .signinp{
    font-size: 1.5rem;
    padding: 0.8rem;
}

.small_head p{
    font-size: 1rem;
    color: #202124;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:900px){
    .row_container{
        flex-direction: column;
        width: 58%;
    }
    .row_right{
      display: none;
    }
}
@media screen and (max-width:600px){
    .row_container{
      width: 90%;
      border: none;
      align-items: unset;
      margin-top: 0%;
    }
    .row1{
        display: unset;
    }
    .row1 > .row_item:not(:first-child){
      padding-top: 5vh;
    }
    .right-margin{
      margin-right: 0%;
      margin-bottom: 5%;
    }
}
@media screen and (max-width:500px){
    .rows{
        width: 90%;
        border: none;
        margin-top: 0;
    }
}
