@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.rows{
    padding: 0;
    min-width: 40vw;
    width: 40%;
    margin: 0 auto;
    border: 1px solid #dadce0;
    padding: 3%;
    text-align: left;
    border-radius: 2%;
    margin-top: 20vh;
    // display: flex;
}
.row_content_left{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    
}
.row_heading{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5vh;
}
.text_sign{
    text-align: center;
}
.row_heading span{
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.letter1{
    color: rgb(66, 133, 244);
}
.letter2{
    color: rgb(234, 67, 53);
}
.letter3{
    color:rgb(251, 188, 5);
}
.letter4{
    color: rgb(52, 168, 83);
}
.rows .comments_p{
    margin-top: 0%;
    font-size: 0.7rem;
}
.row_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0% 10%;
    margin-bottom: 4vh;
    width: 100%;
}
.row3{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0% 10%;
    margin-bottom: 4vh;
    width: 100%;
}
// .row2{

// }
.row_item .inputfield{
    margin-top: 2vh;
    border: 1px solid #dadce0;
    font-size: 1rem;
    padding: 0.3rem;
    width: 100%;

}

input[type="submit"] {
    // flex: 2;
    padding: 10px 20px;
    border: 1px solid #1a73e8;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    background-color:#1a73e8;
}
.error{
    margin-top:1vh;
    color: red;
    font-size: 0.8em;
}
svg{
    color: red;
}
input[type=text]{
    border: 2px solid red;
    border-radius: 4px;
}
input[type=text]:focus{
    border-width: thick;
    border: 0px solid rgb(26, 115, 232) !important;
    outline-color: rgb(26, 115, 232);
}
.comments_p{
    display: none; //
}
.row_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row_bottom span{
    color: #1a73e8; 
}
a{
    text-decoration: none;
    font-size: 0.9rem;
}
@media screen and (max-width:700px){
    .row1{
        grid-template-columns: repeat(1, 1fr);
    }
}