@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

}
*{
    box-sizing: border-box;
}

.sidebar_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    // margin-top: 15%;
}

.bg_circle:first-child{
    .sidebar_icon{
        background-color: #feefc3;
    }
}
.bg_circle:first-child:hover{
        background-color: #feefc3;
        width: 280px;
        height: 48px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
}

.router_btn .sidebar_icon{
    background-color: transparent;
}
.sidebar_item{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    // justify-content: center;
}
.bg_text{
    display: none;
    margin-left: 1rem;
    font-size: 0.9rem;
}
.bg_circle:hover{
    background-color: #f1f3f4;
    width: 280px;
    height: 48px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    .bg_text{
        display: unset;
    }    
}


// .sidebar_row{
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     z-index: 10;
//     // justify-content: space-evenly;
//     // width: 280px;
//     // min-height: auto;
//     height: calc(100% - 64px);
//     position: fixed;
//     top: 64px;
// }
// .sidebar_row_left{
//     flex: 1 0 auto;
//     color: #202124;
//     font-weight: 600;
//     font-family: 'Open Sans', sans-serif;
// }
// .sidebar_row_right{
//     margin-bottom: 1rem;
//     padding: 0 3rem;
// }

// .sidebar_row:hover{
//     width: 280px;
//     background-color: #FFFFFF;
//     box-shadow: 0 16px 10px 0 rgb(0 0 0 / 14%), 0 11px 18px 0 rgb(0 0 0 / 12%), 0 13px 5px -1px rgb(0 0 0 / 20%);;

//     .sidebar_row_right span{
//         display: unset;
//     }
// }

// .sidebar_row{
//     width: 80px;
// }
// .sidebar_row_right span{
//     display: none;
// }

// .row_right_text{
//     font-size: 0.8rem;
//     color: #5f6368;
// }
