@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

}
*{
    box-sizing: border-box;
}


// .display_notes_content{
//     display: flex;
//     flex-wrap: wrap;
//     text-align: left;
//     justify-content: center     ;
//     }
//     .display_notes{
//     background-color: #fff;
//     border:1px solid #e0e0e0;
//     min-width: 240px;
//     margin: 16px;
//     border-radius: 8px;
//     min-height: 120px;
//     z-index: 8;
//     }
//     .display_title{
//     padding: 12px 12px 0 12px;
//     }
//     .display_description{
//     padding: 12px;
//     }
//     .display_notes_content p{
//     margin: 0;
//     }
//     .toggle_btn_notes{
    
//     display: none;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
    
//     }
    
//     .toggle_btn_notes button{
//     outline: none;
//     border: none;
//     background-color: transparent;
//     height: 35px;
//     width: 35px;
//     color: #202124;
//     border-radius: 50%;
//     }
//     button:hover{
//     background-color: rgba(95,99,104,0.157);
//     border-radius: 50%;
//     }
//     .display_notes:hover {
//     .toggle_btn_notes{
//         display: flex;
//     }
//     }
//     .color_btn button{
//     outline: none;
//     border: none;
//     background-color: transparent;
//     top: 50%;
//     height: unset;
//     color: #202124;
//     border-radius: 50%;
//     }
//     .dropmenu{
//     z-index: 100;
//     }
//     @media screen and (max-width: 700px) {
//     .display_notes{
//         width: 80%;
//     }
//     .display_container{
//         margin-top: 10%;
//     }
//     }
    
//     @media screen and (max-width: 600px) {
//     .display_container{
//             margin-top: 20%;
//         }
//     }
