@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
.bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    z-index: 10000;
    opacity: 1;
    transition: .3s;
  }
  
.container{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.take_note_container{
    // min-height: 20vh;
    // min-width: 600px;
    width: 100%;
    position: relative;
    // margin-bottom: 10%;
}
.take_note_content{
    min-height: 10vh;
    width: 100%;
    position: absolute;
    // padding: 4px 16px 12px 16px;
    border-radius: 10px;
    background-color:#FFFFFF;
    box-shadow: 1px 2px 2px 0px rgb(65 69 73 / 10%), 1px 3px 3px 1px rgb(65 69 73 / 15%) ;
}
// .take_note_text{
//     letter-spacing: .01428571em;
//     font-family: 'Roboto', sans-serif;
//     font-size: .875rem;
//     font-weight: 400;
//     line-height: 1.25rem;   
// }
.take_note_text_item{
    display: flex;
    justify-content: space-between;
}
.take_note_text_item button{
    
    background-color: transparent;
    outline: none;
    border: none; 
    width: 40px;
    height: 40px;
    margin: 0 8px;
}
.takenote_text_btn{
    display: flex;
    flex-direction: row;
}
.take_note_text_item input[type=text]{
    width: 100%;
    line-height: 2;
    border: none;
    outline: none;
    white-space: nowrap;
    // word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
input[type=text]{
    width: 100%;
    line-height: 2;
    border: none;
    outline: none;
    white-space: nowrap;
    // word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
.take_note ::placeholder{
    font-family: 'Roboto', sans-serif;    
    font-size: 0.9rem;
    font-weight: 550;
    line-height: 3;
    color: #202124;
}

.take_title, .take_note{
    padding: 4px 16px 12px 16px;
}
.toggle_btn{
    padding: 4px 16px 12px 0px;
}
// .toggle_btn button:hover{

// }


.take_title ::placeholder{
    color: rgba(0,0,0,0.6);
    font-family: 'Roboto', sans-serif;    
    font-size: 1rem;
    font-weight: 550;
}

// .take_title input[type=text]{
//     display: none;
// }

.take_note input[type=text]:focus + .take_title input[type=text]{
        display: unset;
}


.toggle_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.toggle_btn button{
    background-color: transparent;
    outline: none;
    border: none;   
}
.toggle_item{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.toggle_item button{
    width: 40px;
    height: 40px;
    margin: 0 8px;
}
.dropmenu span{
    outline: none;
    border: none;
    // background-color: transparent;
    // top: 50%;
    // height: unset;
    color: #202124;
    border-radius: 50%;
    margin-bottom: 5px;
    }
.dropmenu{
    display: none;
    flex-direction: column;
    text-align: left;
    box-shadow: 1px 2px 2px 0px rgb(65 69 73 / 10%), 1px 3px 3px 1px rgb(65 69 73 / 15%) ;
    padding: 12px;
    border-radius: 2px;
    bottom: 50%;
    left: 30%;
    width: 100px;
    height: 70px;
    background-color: #FFFFFF;
    z-index: 10;
    position: absolute;
}
.more_btn:hover{
    .dropmenu{
        display: flex;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.row_right_text{
    font-size: 0.8rem;
    color: #5f6368;
}

.toggle_item button:hover{
    background-color: rgba(95,99,104,0.157);
    border-radius: 50%;
}

.toggle_item2 button:hover{
    background-color: rgba(203, 205, 207, 0.161);
    border-radius: 5px;
}
.toggle_item2 button{
    font-size: 0.93rem;
    // width: 40px;
    // height: 40px;
    margin: 0 8px;
    padding: 10px 24px;
}

@media screen and (max-width:930px) {
    .toggle_item button{
        margin: 0 3px;
    }
}

@media screen and (max-width:700px) {
    .container{
        width: 100%;
    }
    .toggle_item button{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width:600px) {
    .toggle_btn{
        flex-direction: column;
        // align-items: flex-end;
    }
    .toggle_item2{
        align-self: flex-end;
        padding: 8px 24px;
    }
}
@media screen and (max-width:400px) {
    .container{
        width: 100%;
    }
    .toggle_item button{
        width: 32px;
    }
}

